[Unit]
Description=Rclone Google Drive Mount
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/rclone mount gdrive: /mnt/gdrive --vfs-cache-mode full

[Install]
WantedBy=default.target
