[Unit]
Description=Rclone Google Drive Mount
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Restart=on-abort
RestartSec=5
User=
Group=
ExecStart=/usr/bin/rclone mount gdrive: /mnt/gdrive --vfs-cache-mode full
ExecStop=/usr/bin/fuser -Mk -SIGTERM -m "/mnt/gdrive"

[Install]
WantedBy=multi-user.target
