[Unit]
Description=Rclone Google Drive Mount
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Restart=on-abort
RestartSec=5
KillMode=none
ExecStart=/usr/bin/rclone mount vault: /mnt/vault \
  --vfs-cache-mode full \
  --dir-perms 700 \
  --file-perms 600

[Install]
WantedBy=default.target
